#loading {
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #9e9e9e33;
    position: fixed;
    z-index: 100;
}

#loading.show {
    display: block;
}

#loading>img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-16px, -16px);
}