* {
  box-sizing: border-box;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", 微软雅黑, STHeiti, 华文细黑, sans-serif, "Apple Color Emoji";
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 650px;
  margin: 0;
  padding: 0;
}

.row {
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  min-width: 1280px;
  overflow: hidden;
  background: #262523 url(../images/bg.jpg);
}

.wrapper .note-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 38%;
  background: #fbf7ed;
  box-shadow: rgba(0, 0, 0, .1) 1px 0 3px;
  z-index: 5;
  overflow: hidden;
  transition: width .2s ease-out;
}

.wrapper .note-right {
  width: 62%;
  position: absolute;
  left: 38%;
  transition: left .2s ease-out;
  top: 0;
  right: 0;
  bottom: 0;
}

.wrapper .titlebar {
  position: relative;
  box-shadow: rgba(0, 0, 0, .15) 0 1px 8px;
  height: 61px;
  line-height: 62px;
  background: linear-gradient(#827265, #716053);
  background: -webkit-linear-gradient(top, #827265, #716053);
  border-bottom: 1px #564944 solid;
  border-right: 1px #564944 solid;
}

.wrapper .note-left .titlebar img.logo {
  width: 44px;
  height: 44px;
  margin: 8px 8px;
  vertical-align: middle;
  display: inline-block;
}

.wrapper .note-left .titlebar span.logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
}

.wrapper .note-left .titlebar .btn-notes {
  float: right;
}

.wrapper .note-right .titlebar .btn-note,
.wrapper .note-left .titlebar .btn-note {
  margin-top: 12px;
  display: inline-block;
  vertical-align: top;
  height: 38px;
  padding: 1px;
  border-radius: 8px;
  line-height: 36px;
  background: #cacaca;
  background: rgba(0, 0, 0, .2);
  font-size: 14px;
  cursor: pointer;
  background: -webkit-linear-gradient(#57483d, #4f4135);
}

.wrapper .note-left .titlebar .btn-note {
  margin-right: 14px;
  float: right;
}

.wrapper .note-right .titlebar .btn-insertImage,
.wrapper .note-right .titlebar .btn-moveNote {
  margin-left: 12px;
  float: left;
}

.wrapper .note-right .titlebar .btn-share,
.wrapper .note-right .titlebar .btn-delete {
  margin-right: 14px;
  float: right;
}

.wrapper .note-right .titlebar .btn-note span,
.wrapper .note-left .titlebar .btn-note span {
  background: #7b6a5d;
  background: linear-gradient(#816f61, #736357);
  background: -webkit-linear-gradient(#816f61, #736357);
  color: #fff;
  box-shadow: 0 1px rgba(255, 255, 255, .1) inset;
  display: inline-block;
  vertical-align: top;
  padding: 0 18px;
  border-radius: 7px;
  white-space: nowrap;
  font-size: 14px;
  cursor: pointer;
}

.wrapper .note-right .titlebar .btn-delete span {
  background: -webkit-linear-gradient(#ed8888, #e26161);
}

.btn-note .icon-create {
  display: inline-block;
  vertical-align: top;
  background: url(../images/all_icons.png) no-repeat -140px -123px;
  width: 30px;
  height: 36px;
}

.btn-note .icon-save {
  display: inline-block;
  vertical-align: top;
  background: url(../images/all_icons.png) no-repeat -181px -123px;
  width: 30px;
  height: 36px;
}

.btn-note .icon-refresh {
  display: inline-block;
  vertical-align: top;
  background: url(../images/all_icons.png) no-repeat -99px -122px;
  width: 30px;
  height: 36px;
}

.btn-note .icon-insertImage {
  display: inline-block;
  vertical-align: top;
  background: url(../images/all_icons.png) no-repeat -181px -123px;
  width: 30px;
  height: 36px;
}

.btn-note .icon-moveNote {
  display: inline-block;
  vertical-align: top;
  background: url(../images/all_icons.png) no-repeat -222px -123px;
  width: 30px;
  height: 36px;
}

.btn-note .icon-share {
  display: inline-block;
  vertical-align: top;
  background: url(../images/all_icons.png) no-repeat -264px -123px;
  width: 30px;
  height: 36px;
}

.btn-note .icon-delete {
  display: inline-block;
  vertical-align: top;
  background: url(../images/all_icons.png) no-repeat -304px -123px;
  width: 30px;
  height: 36px;
}

.wrapper .note-left-floder {
  position: absolute;
  width: 40%;
  left: 0;
  top: 61px;
  bottom: 0;
  transition: width .2s ease-out;
  border-right: 1px solid #dcd6ca;
}

.note-left-floder .search-box {
  position: relative;
  height: 50px;
  border-bottom: 1px #e4dad1 solid;
}

.note-left-floder .search-box .search-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: #e4dad1 solid 1px;
  background: #fcfcfc;
  box-shadow: rgba(0, 0, 0, .12) 0 1px 4px inset;
  border-radius: 14px;
  z-index: 2;
}

.note-left-floder .search-box .search-bar .text-field-view {
  position: relative;
}

.note-left-floder .search-box .search-icon {
  background: url(../images/all_icons.png) -59px -220px no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 7px;
  top: 5px;
}

.note-left-floder .search-box .search-input {
  position: absolute;
  outline: 0;
  width: 100%;
  z-index: 3;
  background: 0 0;
  border: none;
  font-family: "PingFang SC", Helvetica, "Microsoft Yahei", ST-Heiti;
  color: #888;
  height: 28px;
  line-height: 24px;
  font-size: 14px;
  padding: 0 30px;
}

.note-left-floder .search-box .search-clear {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 20px;
  height: 20px;
  background: url(../images/search-clear.png) center no-repeat;
  cursor: pointer;
}

.folder-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 50px;
  border-bottom: 1px solid #dcd6ca;
}

.folder-container .on {
  background: #f1ece1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .03) inset;
}

.folder-container .folder-icon {
  width: 20px;
  height: 20px;
  background: url(../images/all_icons.png) no-repeat;
  background-position: -132px -310px;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 15px;
}

.folder-container .all-icon {
  background-position: -60px -310px;
}

.folder-container .folder-item {
  height: 50px;
  border-bottom: 1px #e4dad1 solid;
  background: #fbf7ed;
  position: relative;
}

.folder-container .folder-item:hover,
.folder-container .folder-item.on {
  background: #f1ece1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .03) inset;
}

.folder-container .folder-item .folder-info {
  color: #635752;
  position: absolute;
  right: 10px;
  top: 17px;
  font-size: 14px;
}

.folder-item .folder-name {
  font-size: 14px;
  color: #635753;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 30px;
  margin-top: 10px;
  margin-left: 5px;
  width: 100%;
  height: 30px;
  display: inline-block;
  padding: 0 25px;
}

.bottom-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-right: 1px solid #dcd6ca;
  height: 50px;
  box-shadow: rgba(0, 0, 0, .03) 0 -1px 6px;
  z-index: 6;
  border-top: 1px #e9dece solid;
  background: #fbf7ed;
}

.bottom-menu .create-folder-btn {
  float: left;
  height: 20px;
  margin-left: 16px;
  width: 20px;
  margin-top: 15px;
  background: url(../images/all_icons.png) -169px -220px no-repeat;
  cursor: pointer;
}

.bottom-menu .delete-folder-btn {
  float: left;
  height: 20px;
  margin-left: 16px;
  width: 20px;
  margin-top: 15px;
  background: url(../images/all_icons.png) -94px -220px no-repeat;
  cursor: pointer;
}

.note-left-notes {
  position: absolute;
  left: 40%;
  top: 61px;
  right: 0;
  bottom: 0;
  transition: width .2s ease-out;
  border-right: 1px solid #dcd6ca;
}

.note-left-notes.note-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
}

.note-list .note-item {
  height: 50px;
  border-bottom: 1px #e4dad1 solid;
  background: #fbf7ed;
  position: relative;
}

.note-list .note-item.on {
  background: #f1ece1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .03) inset;
}

.note-left .note-item:hover {
  background: #f1ece1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .03) inset;
}

.note-item .item-status {
  height: 24px;
  line-height: 20px;
  padding-left: 10px;
  padding-top: 4px;
}

.note-item .item-status .fav {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  float: right;
  background: url(../images/all_icons.png) -786px -40px no-repeat;
  cursor: pointer;
}

.note-item .item-status .image-note {
  width: 20px;
  height: 20px;
  /* display: none; */
  float: right;
  margin-right: 2px;
  background: url(../images/all_icons.png) no-repeat -131px -220px;
}

.note-item .item-status .time {
  float: left;
  height: 20px;
  margin-right: 6px;
  color: #b9a691;
  font-size: 12px;
}

.note-item .note-title {
  line-height: 20px;
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #635753;
}

.edit-wrapper {
  max-width: 1080px;
  position: absolute;
  top: 61px;
  bottom: 0;
  left: 0;
  right: 0;
}

.edit-wrapper .edit-status {
  position: relative;
  height: 50px;
  padding: 0 14px 0 0;
  font-size: 13px;
  color: #b9a691;
  background: #fbf7ed;
  border-bottom: 1px solid #e3dcd1;
  cursor: default;
}

.edit-status .status-bar {
  float: right;
  height: 50px;
}

.edit-status .edge {
  float: left;
  border-right: 1px solid #e8e2d7;
  height: 50px;
  background: #f4f0e5;
  width: 25px;
  border-bottom: 1px solid #e8e2d7;
}

.edit-status .edit-mode {
  float: left;
  margin-left: 20px;
  height: 24px;
  line-height: 22px;
  border: 1px solid #e4dad1;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 27px;
  margin-top: 13px;
  font-size: 12px;
  position: relative;
  cursor: pointer;
}

.status-bar .favorite {
  display: inline-block;
  cursor: pointer;
  margin-top: 13px;
  background: url(../images/all_icons.png) -786px -39px no-repeat;
  width: 24px;
  height: 24px;
  vertical-align: top;
}

.status-bar .split-line {
  display: inline-block;
  height: 12px;
  width: 1px;
  background: #e7ded0;
  margin: 19px 5px;
}

.status-bar .counter {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  margin-top: 13px;
  font-size: 13px;
  vertical-align: top;
}

.status-bar .time {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  margin-top: 13px;
  font-size: 13px;
  vertical-align: top;
}

.status-bar .folder {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  border-radius: 2px;
  padding-left: 29px;
  margin: 13px 0;
  position: relative;
  font-size: 12px;
  overflow: hidden;
}

.status-bar .folder span {
  font-size: 12px;
  line-height: 24px;
}

.status-bar .folder i {
  position: absolute;
  height: 24px;
  width: 24px;
  left: 0;
  top: 0;
  background: url(../images/all_icons.png) -715px -39px no-repeat;
}

.edit-wrapper .edit-main {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../images/grid.png);
}

.edit-main>i {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  border-right: 1px solid #e8e2d7;
  height: 100%;
  background: url(../images/edge.png) repeat
}

.edit-main .edit-area {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.edit-main .note-editor {
  position: relative;
  margin-left: 50px;
  /* margin-right: 30px; */
  height: 100%;
}

/* CodeMirror css 定制 */

.CodeMirror-lines {
  padding: 0;
}

.note-editor .CodeMirror-line {
  height: 50px;
  line-height: 50px;
  padding: 0;
  font-family: Helvetica, "Microsoft Yahei", ST-Heiti, "Apple Color Emoji";
  font-size: 17px;
}

.CodeMirror {
  background: url(../images/grid.png);
  background-attachment: scroll;
  color: #635752;
  height: 100%;
}

.CodeMirror-cursor {
  border-left: solid thin #000;
  margin-top: 15px;
}

.CodeMirror-simplescroll-vertical {
  background: none;
}

.CodeMirror-simplescroll-vertical div {
  border-radius: 0;
  background: 0;
  border: 0;
}
/* CodeMirror css 定制 */