<!doctype html>
<html>

<head>
    <title>notes</title>
    <meta charset="utf-8">
    <link href="css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="css/lib/codemirror.css" rel="stylesheet">
    <link href="css/tips.css" rel="stylesheet">
    <link href="css/window.css" rel="stylesheet">
    <link href="js/lib/addon/scroll/simplescrollbars.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper" id="app">
        <div class="note-left">
            <div class="titlebar">
                <img class="logo" src="images/note.png" alt="notes">
                <span class="logo">便签</span>
                <div class="btn-notes">
                    <div title="创建便签" class="btn-note btn-create" id="btn-note-create" @click="noteCreate">
                        <div class="">
                            <span>
                                <i class="icon-create"></i>
                            </span>
                        </div>
                    </div>
                    <div title="保存便签" class="btn-note btn-save" id="btn-note-save" @click="saveNote">
                        <div class="">
                            <span>
                                <i class="icon-save"></i>
                            </span>
                        </div>
                    </div>
                    <div title="刷新" class="btn-note btn-refresh" id="btn-refresh" @click="refresh">
                        <div class="">
                            <span>
                                <i class="icon-refresh"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="note-left-panel">
                <div class="note-left-floder">
                    <div class="search-box">
                        <div class="search-bar">
                            <div class="text-field-view">
                                <div class="search-icon"></div>
                                <input type="text" class="search-input" name="text-field" placeholder="搜索全部便签">
                                <div class="search-clear"></div>
                            </div>
                        </div>
                    </div>

                    <!-- 文件夹模板 -->
                    <folder-template :data-folders="folders.list" @onfolderchange="onfolderchange"></folder-template>

                    <div class="bottom-menu">
                        <div title="新建文件夹" class="create-folder-btn" id="btn-folder-create" @click="folderCreateDlg">
                        </div>
                        <div title="删除文件夹" class="delete-folder-btn" id="delete-folder-btn" @click="folderDeleteDlg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="note-left-notes">

                <!-- 便签模板 -->
                <note-template :data-notes="note.list" @onnotechange="onnotechange"></note-template>

            </div>
        </div>
        <div class="note-right">
            <div class="titlebar">
                <div title="插入图片" class="btn-note btn-insertImage">
                    <div class="">
                        <span>
                            <i class="icon-insertImage"></i>
                        </span>
                    </div>
                </div>
                <div title="删除便签" class="btn-note btn-moveNote">
                    <div class="">
                        <span>
                            <i class="icon-moveNote"></i>
                        </span>
                    </div>
                </div>
                <div title="删除便签" class="btn-note btn-delete" id="btn-note-delete" @click="noteDeleteDlg">
                    <div class="">
                        <span>
                            <i class="icon-delete"></i>
                        </span>
                    </div>
                </div>
                <div title="登出" class="btn-note btn-share" id="btn-logout">
                    <div class="">
                        <span>
                            <i class="immersive-icon icon-share"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="edit-wrapper">
                <div class="edit-status">
                    <i class="edge"></i>
                    <div class="edit-mode">纯文本模式</div>
                    <div class="status-bar">
                        <div class="folder">
                            <span>全部便签</span>
                            <i></i>
                        </div>
                        <span class="split-line"></span>
                        <span class="time">今天 11:03 AM</span>
                        <span class="split-line"></span>
                        <span class="counter">共 20 字</span>
                        <span class="split-line"></span>
                        <span class="favorite"></span>
                    </div>
                </div>
                <div class="edit-main">
                    <i></i>
                    <div class="edit-area" id="edit-area">
                        <div class="edge"></div>
                        <div class="note-editor" id="note-editor">
                            <textarea id='codemirror-editor' style='display: none;'></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 提示 -->
        <div id="snackbar" :class="{show: showTips}">{{ tipsMsg }}</div>

        <!-- Loading -->
        <div id="loading" :class="{show: showLoading>0}">
            <img src="images/loading.gif" />
        </div>

        <!-- Modal 创建文件夹模态窗口 -->
        <div class="modal fade" id="create-folder" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">标签类别名</h4>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" type="text" v-model="folders.newName">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button id="btn-folder-create-ok" type="button" class="btn btn-primary"
                            @click="folderCreate">创建</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 删除文件夹模态窗口 -->
        <div class="modal fade" id="delete-folder" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">删除便签文件夹</h4>
                    </div>
                    <div class="modal-body">
                        <p v-if="folders.selected">删除笔记本:{{ folders.selected.name }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-danger" @click="folderDelete">删除</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- Modal 删除便签模态窗口 -->
        <div class="modal fade" id="delete-note" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">删除便签</h4>
                    </div>
                    <div class="modal-body">
                        <p v-if="note.selected">删除便签:{{ note.selected.name }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-danger" @click="noteDelete">删除</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>

</body>

<!-- folder template -->
<template id="folder-template">
    <div class="folder-container" id="folder-container" @click="nodeFolderItemClick">
        <div class="folder-item" :class="{on: item.on}" v-for="(item,index) in noteFolders" :key="item.id"
            :data-id="item.id" :data-index="index">
            <div class="folder-icon all-icon"></div>
            <div class="folder-name">{{ item.name }}</div>
            <div class="folder-info">{{ item.info }}</div>
        </div>
    </div>
</template>

<!-- note template -->
<template id="note-template">
    <div class="note-list" id="note-list" @click="nodeItemClick">
        <div class="note-item" :class="{on: item.on}" v-for="(item,index) in noteList" :key="item.id" :data-id="item.id"
            :data-index="index">
            <div class="item-status">
                <div class="time">{{ item.modifiedTime | formatTime }}</div>
                <div title="星标" class="fav"></div>
                <div class="image-note"></div>
            </div>
            <div class="note-title">
                <span>{{ item.name }}</span>
            </div>
        </div>
    </div>
</template>


<!--
    - JavaScript and HTML must be in separate files: see our Content Security
    - Policy documentation[1] for details and explanation.
    -
    - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
  -->
<!-- <script src="js/lib/underscore.js"></script>
<script src="js/lib/jquery-dateFormat.min.js"></script>
<script src="js/lib/backbone.js"></script>

<script src="js/models/note.js"></script>
<script src="js/models/folder.js"></script>
<script src="js/collections/notes.js"></script>
<script src="js/collections/folders.js"></script>
<script src="js/views/editor.js"></script>
<script src="js/views/note.js"></script>
<script src="js/views/notes.js"></script>
<script src="js/views/folder.js"></script>
<script src="js/views/folders.js"></script>

<script src="js/service.js"></script>
<script src="js/views/message.js"></script>
<script src="js/views/appView.js"></script>
 -->

<script src="js/lib/jquery-3.3.1.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/axios.min.js"></script>
<script src="js/lib/codemirror.js"></script>
<script src="js/lib/addon/scroll/simplescrollbars.js"></script>
<script src="js/editor.js"></script>
<script src="js/gauth.js"></script>
<script src="js/gdrive.js"></script>
<script src="js/gnote.js"></script>
<script src="js/lib/vue.min.js"></script>
<script src="js/app.js"></script>

<!-- 测试 -->
<!-- <script src="js/test/test_gauth.js"></script> -->
<!-- <script src="js/test/test_gdrive.js"></script> -->

</html>