* {
  font-family: "微软雅黑";
}

#item-list {
  width: 450px;
  max-height: 350px;
}

.item {
  margin: 1px 0;
  padding: 2px 5px 0 4px;
  border-radius: 4px;
}
.item:hover {
  background-color: #dcdcd8;
}

.item > img {
  margin-right: 4px;
}

.item > a > span {
  color: #272822;
  display: inline-block;
  width: 280px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 17px;
}
.item > span {
  float: right;
}

.toolbar {
  margin-top: 5px;
  border-radius: 5px;
  background-color: #f7f7f9;
  height: 21px;
}

.toolbar>button {
  border-radius: 8px;
  border: none;
  padding: 2px 6px;
  outline:none;
}

.toolbar>button:hover {
  cursor: pointer;
}
#next {
  display: none;
}
#up {
  display: none;
}
#clear {
  float: right;
}
#page-status {
  float: right;
  border-radius: 8px;
  padding: 2px 6px;
  margin-right: 10px;
  background-color: rgb(211,211,211)
}
